.trigger-codebuild:
  stage: trigger-codebuild
  resource_group: $CI_COMMIT_REF_NAME
  allow_failure: false
  image:
    name: alpine:latest
    entrypoint: [""]
  before_script:
    - apk add --no-cache aws-cli jq 
  script:
    - |
      # triggering codebuild...
      build_id=$(aws codebuild start-build --project-name=${CODE_BUILD_NAME} | jq -r '.build.id')
      echo "start build with ID: $build_id"

      while true; do
        status=$(aws codebuild batch-get-builds --ids $build_id | jq -r '.builds[0].buildStatus')
        echo "Current status: $status"
        
        if [ "$status" = "SUCCEEDED" ]; then
          echo "Build succeeded!"
          break
        elif [ "$status" = "FAILED" ] || [ "$status" = "FAULT" ] || [ "$status" = "STOPPED" ] || [ "$status" = "TIMED_OUT" ]; then
          echo "Build failed with status: $status"
          exit 1
        fi
        
        sleep 10
      done
  tags:
    - alpine